<div class="users-container">
    <ng-container *ngIf="filter$ | async as filter">
        <userlane-filter
        *ngIf="filter.data"
          [filters]="filter.data"
          (onFilterChanged)="onFilterHandler($event)"
        ></userlane-filter>
      </ng-container>
  <ng-container *ngIf="data$ | async as data">
    <div *ngIf="data.loading">...Loading</div>
    <div *ngIf="data.error">
      {{ data.error | json }}
    </div>
    <ng-container *ngIf="data.data as data">
      <userlane-table
        [columns]="columnsConfig"
        [data]="data.users"
        [totalData]="data.total"
        [pageSize]="pageSize"
        [pageNumber]="pageNumber"
        (onPaginationChanged)="onPaginationHandler($event)"
        (onSelectedRowItemId)="onSelectUser($event)"
      >
      </userlane-table>
    </ng-container>
  </ng-container>
</div>
